* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Inter;
  src: url("/Font/Inter_24pt-Regular.ttf") format("woff2");
  src: url("/Font/Inter_24pt-Regular.ttf") format("woff");
  src: url("/Font/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Jakarta;
  src: url("/Font/PlusJakartaSans-Regular.ttf") format("woff2");
  src: url("/Font/PlusJakartaSans-Regular.ttf") format("woff");
  src: url("/Font/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
}
.main-container {
  max-width: 100%;
  height: 100vh;
  background-image: url("/image/hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 170px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1000;
}

nav.sticky {
  background-color: rgba(253, 253, 254, 0.8);
  position: sticky;
  top: 0;
  padding-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow effect for better visibility */
}
.logo img {
  max-height: 50px;
}
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu li {
  position: relative;
}
.menu a {
  text-decoration: none;
  font-size: 25px;
  color: #282d3a;
  font-weight: bold;
  padding: 5px 10px;
}
/* Dropdown Styles */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  list-style: none;
  padding: 10px 0;
}
.dropdown-menu li {
  padding: 5px 20px;
}
.dropdown-menu li a {
  color: #282d3a;
}
.dropdown-menu li:hover {
  background: #f1f1f1;
}
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.get-started {
  background: #5d74f2;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  padding: 6px 22px 8px;
  margin: 12px 5px 0;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: 0.5s;
}
.get-started:hover {
  background: #f2f0fb;
  border: 1px solid black;
  color: #585f6e;
}

/*  Hero Section Styles Here */
.hero-parents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.left-side {
  flex: 1;
}
.left-side h1 {
  font-size: 4.5rem;
  color: #282d3a;
  margin-bottom: 20px;
  font-family: Jakarta;
}
.left-side p {
  font-size: 25px;
  width: 500px;
  color: #5a5a5a; /* Subtle color for the paragraph text */
  margin-bottom: 20px;
  opacity: 0.8;
}

.left-side button {
  background: #5d74f2;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 270px;
  font-family: Inter;
  height: 70px;
}

.left-side button:hover {
  background: #4b62d8;
}
.icon img {
  width: 20px;
}

.text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  display: flex;
  gap: 5px;
}

.icon img {
  width: 20px;
  height: 20px;
}

.text p {
  margin: 0;
  font-size: 26px;
}

/* Right Side */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
