* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Inter;
  src: url("/Font/Inter_24pt-Regular.ttf") format("woff2");
  src: url("/Font/Inter_24pt-Regular.ttf") format("woff");
  src: url("/Font/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Jakarta;
  src: url("/Font/PlusJakartaSans-Regular.ttf") format("woff2");
  src: url("/Font/PlusJakartaSans-Regular.ttf") format("woff");
  src: url("/Font/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.main-container {
  max-width: 100%;
  height: 100vh;
  background-image: url("/image/hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 25px;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}
/* General Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  font-size: 25px;
  color: #282d3a;
  font-weight: bold;
  padding: 5px 10px;
}

/* Dropdown Styles */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  list-style: none;
  padding: 10px 0;
}

.dropdown-menu li {
  padding: 5px 20px;
}

.dropdown-menu li a {
  color: #282d3a;
}

.dropdown-menu li:hover {
  background: #f1f1f1;
}

/* Actions Section */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.get-started {
  background: #5d74f2;
  color: #fff;
  font-size: 0.9rem;
  line-height: 28px;
  padding: 6px 22px 8px;
  margin: 12px 5px 0;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.get-started:hover {
  background: #4b62d8;
}

/* Hover Effects */
.menu li a:hover,
.actions a:hover {
  color: #5d74f2;
}
